<div style="display: flex; align-items: center;justify-content: center;">
    <div style="margin-left: 8px;">
        <input type="checkbox" id="nietdeelgenomen">
        <label id="lblNotParticipated" for="nietdeelgenomen" style="margin-left: 4px;">{{#str}}notparticipated, local_hzgrading{{/str}}</label>
    </div>
    <div style="margin-left: 8px;">
        <input type="checkbox" id="nietontvankelijk">
        <label id="lblNotAdmissible" for="nietontvankelijk" style="margin-left: 4px;">{{#str}}notadmissible, local_hzgrading{{/str}}</label>
    </div>
</div>